
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Добавить язык
</button>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">

            <form method="POST" class="form" action="{% url 'language_add' %}" autocomplete="off" id="lang-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить язык</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in form %}
                    <div class="form__field">
                        <label> {{ field.label }}</label>
                        {{ field}}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="return_url" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>
