{% extends 'base/base.html' %}
{% block content %}

<div class="messages">
    <div class="container">
        <div class="messages__box">
            <h3 class="inbox__title">Сообщения(<span>{{ unread_count }}</span>)</h3>
            <ul class="messages__ul">
                {% for message in send_messages %}
                {% if not message.is_read and message.recipient == request.user.profile %}
                <li class="msg msg--unread">
                    {% else %}
                <li class="msg ">
                    {% endif %}
                    {% if message.recipient != request.user.profile %}
                    <a href="{% url 'chat' message.recipient.id %}">
                        <span class="msg__author">{{ message.recipient.first_name }} </span>
                        <span class="msg__date">{{ message.created }}</span></a>
                    {% elif message.sender != request.user.profile %}
                    <a href="{% url 'chat' message.sender.id %}">
                        <span class="msg__author">{{ message.sender.first_name }} </span>
                        <span class="msg__date">{{ message.created }}</span></a>
                    {% endif %}
                </li>

                {% endfor %}{% include 'base/pagination.html' with queryset=send_messages custom_range=custom_range %}
            </ul>

        </div>
    </div>
</div>

{% endblock %}