{% extends 'base/base_no_navbar.html' %}

{% block content %}
<div class="register_block">
    <div class="container">
        <div class="register">
            <h3>Теперь напишите биографию, чтобы рассказать о себе</h3>
            <p>Помогите клиентам узнать о вас получше. В какой работе вы лучше всего разбираетесь? Вы всегда можете
                отредактировать позже</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% for field in wizard.form %}
                <div class="form__field">
                    <label> {{ field.label }}</label>
                    {{ field}}
                </div>
                {% endfor %}
                <div class="div_btn">
                    <input type="submit" value="Дальше" class="btn"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}