{% extends 'base/base.html' %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block content %}


<div class="chat">{% include 'base/navbar.html' %}
    <div class="container chat">
        <div class="chat__box">
            <div class="chat__info">
                <div class="interlocutor__img">
                    <img src="{{ interlocutor.photo.url }}" alt=""></div>
                <h5>
                    <a href="{% url 'profile' interlocutor.id %}">
                        {{ interlocutor.first_name }} {{ interlocutor.last_name }}</a></h5>
            </div>
            <div class="chat__block">
                {% for message in conversation %}
                {% if message.sender == request.user.profile %}
                <div class="msg__recipient">
                    <div class="chat__msg-recipient">
                        <p>{{ message.body }}</p></div>
                </div>
                {% else %}
                <div class="msg__sender">
                    <div class="chat__msg-sender">

                        <p>{{ message.body }}</p></div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="new-msg__block">
                <form action="{% url 'chat' id %}" method="post" class="msg-form">
                    {% csrf_token %}
                    <div class="new-msg">
                        <input type="text" placeholder="Введите сообщение" name="msg">
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/send_message.js' %}">

</script>
{% endblock %}






