{% extends 'base/base.html'%}
{% load i18n %}

{% block content %}
<div class="register_block">
    <div class="container">
        <div class="register">
            {% if wizard.steps.step1 == 1 %}
            <h3>Ответьте на несколько коротких вопросов. Вы раньше работали фрилансером?</h3>
            {% elif wizard.steps.step1 == 2 %}
            <h3>Если у вас есть резюме, вы можете его загрузить</h3>
             {% elif wizard.steps.step1 == 3 %}
            <h3>На каких языках вы говорите</h3>
             {% elif wizard.steps.step1 == 4 %}
            <h3>Расскажите о своем образовании </h3>
             {% elif wizard.steps.step1 == 5 %}
            <h3>Расскажите о своем опыте работы</h3>
             {% elif wizard.steps.step1 == 6 %}
            <h3>Теперь напишите биографию, чтобы рассказать о себе</h3>
            <p>Помогите клиентам узнать о вас получше. В какой работе вы лучше всего разбираетесь? Вы всегда можете отредактировать позже</p>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                    {{ form.as_table }}
                    {% endfor %}
                    {% else %}
                    {{ wizard.form }}
                    {% endif %}
                    {% if wizard.form.errors %}
                    <div class="alert alert-danger">
                        {{ wizard.form.non_field_errors.as_text }}
                    </div>
                    {%endif%}
                </table>
                {% if wizard.steps.prev %}
<div class="div_btn">
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"  class="btn">Предыдущий шаг
                </button>
                {% endif %}

                    <input type="submit" value="{% translate 'Отправить' %}" class="btn"/></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
