{% extends 'base/base.html' %}

{% block content %}

<div class="auth">
    <div class="container">
        <div class="card">
            <div class="auth__header text-center">

                <h3>Авторизоваться</h3>
            </div>

            <form action="{% url 'login_user' %}" method="post">
                {% csrf_token %}
                <!-- Input:Email -->
                <div class="form__field">
                    <input

                            id="formInput#text"
                            type="text"
                            name="username"
                            placeholder="Введите адрес электронной почты"
                            class="reg_form"
                    />
                </div>

                <!-- Input:Password -->
                <div class="form__field">

                    <input
                            class="reg_form"
                            id="formInput#password"
                            type="password"
                            name="password"
                            placeholder="Пароль"
                    />
                </div>
                <div class="div_btn">
                    <input class="btn" type="submit" value="Войти"/>

                </div>
            </form>
            <div class="auth__alternative">
                <p>У вас нет аккаунта?</p>
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}