{% extends 'base/base.html' %}
{% load my_tags %}
{% load static %}
{% block content %}
{% include 'base/navbar.html'%}

<div class="profile_block">
    <div class="container">
        <div class="profile">
            <div class="profile_info">
                <div class="profile__pAbout">
                    <div class="profile_photo">
                        <img src="{{ profile.photo.url }}" alt=""/>
                    </div>
                    <div class="profile_about">
                        <h4>{{ profile.first_name }} {{ profile.last_name|default:"" }}</h4>
                        <p>{{ profile.city|default:"" }} {{ profile.country|default:"" }}</p>
                    </div>
                </div>
                {% if profile.username == request.user.username %}
                {% if request.user.profile.freelancer %}
                {% include 'talents/talent_add_modal.html' %}
                {% endif %}
                <div class="profile_settings">
                    <p class="profile_btn"><a href="{% url 'profile_update' %}">Настройки профиля</a></p>
                </div>
                {% else %}
                <div class="profile__all-btns">
                    {% include 'users/leave_review.html' %}
                    {% if tasks %}
                    {% include 'talents/talents-btn.html' %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <hr>
            <div class="profile_base">
                <div class="profile_left">
                    <div class="div_talent">
                        {% for service in talents %}
                        {% if service.owner.owner == request.user.profile %}
                        <p class="btn_service"><a href="?s={{ service.id }}">{{ service }} </a></p>
                        {% else %}
                        {% if service.is_published %}
                        <p class="btn_service"><a href="?s={{ service.id }}">{{ service }} </a></p>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% if freelancer %}
                    <div class="profile__language">
                        <h5>Языки</h5>
                        {% for language in freelancer.language_set.all %}
                        <div class="language">
                            <h6>{{ language.get_language_display }}:</h6>
                            <p>{{ language.get_level_display }}</p></div>
                        {% endfor %}
                    </div>
                    {% if freelancer.education_set.all %}
                    <div class="profile__education">
                        <h5>Образование:</h5>
                        {% for education in freelancer.education_set.all %}
                        <div class="language">
                            <h6>{{ education.institution }}:</h6>
                            <p>{{ education.major }}</p></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if freelancer.resume %}
                    <div class="profile__resume">
                        <h5>Резюме:</h5><a href="{{ freelancer.resume.url }}" target="_blank"><img src="{% static 'icons/document.png' %}" alt=""></a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                <div class="profile_right">
                    <div class="profile_title">
                        {% if talent %}
                        <h4>{{ talent.title }}</h4>
                        <div class="title_hourlyrate">
                            {% if talent.hourlyrate_set.all %}
                            <h4>

                                {{ talent.hourlyrate_set.first.rate|default:"" }}
                                {{ talent.hourlyrate_set.first.get_currency_display|default:"" }}/час</h4>
                            {% elif talent.budget_set.first.max_price and talent.budget_set.first.min_price %}
                            <h4>
                                до {{ talent.budget_set.first.max_price|default:"" }}
                                {{ talent.budget_set.first.get_currency_display|default:"" }}/час
                            </h4>
                            {% else %}
                            <h4>
                                {{ talent.budget_set.first.fix_price|default:"" }}
                                {{ talent.budget_set.first.get_currency_display|default:"" }}/проект
                            </h4>
                            {% endif %}
                            {% if profile.username == request.user.username and request.user.profile.freelancer %}
                            {% with action_url_del='talent_delete' %}
                            {% with new_id=talent.id %}
                            {% with title=talent.title %}
                            {% with action_url_update='talent_update' %}
                            {% include 'talents/change-del_talent.html' %}
                            {% endwith%}{% endwith%}{% endwith%}{% endwith%}
                            {% endif %}
                        </div>
                        {% endif %}

                    </div>
                    <p>{{ talent.description }}</p>
                    <p>{{ talent.descriptions }}</p>
                    <hr>
                    <div class="profile_skills">

                        <h5>Навыки</h5>

                        <div class="skill_list">
                            {% for skill in talent.skills.all %}
                            <p>{{ skill }}</p>
                            {% endfor %}

                        </div>

                    </div>
                    <hr>
                    <div class="profile_feedbacks">
                        {% if feedbacks %}
                        <h5>Отзывы ({{ average_rating }}) </h5>
                        {% for feedback in feedbacks %}
                        <div class="profile__feedback">
                            <div class="feedback__stars">
                                {{ feedback.rating|default_if_none:"0"|rating_stars }} {{ feedback.created }}
                            </div>
                            <p>{{ feedback.body }}</p>
                        </div>
                        <hr>
                        {% endfor %}
                        {% else %}
                        <h6>Отзывов пока нет</h6>
                        {% endif %}
                        {% include 'base/pagination.html' with queryset=feedbacks custom_range=custom_range %}
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock content %}
