{% extends 'base/base.html'%}

{% block content%}
<div class="register_block">
    <div class="container">
        <div class="register">
            <h3>Заполните свои персональные данные</h3>
            <form action="{% url 'profile_update' %}" method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <!-- Input:Text -->
                {% for field in form %}
                <div class="form__field">
                    <label> {{ field.label }}</label>
                    {{ field}}
                </div>
                {% endfor%}

                <div class="div_btn">
                    <input type="submit" value="Заполнить" class="btn"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}