{% extends 'base/base.html'%}
{% load i18n %}

{% block content %}
<div class="register_block">
    <div class="container">
        <div class="register">
            {% if wizard.steps.step1 == 1 %}
            <h3 class="role_title">Присоединяйтесь как клиент или как фрилансер</h3>
            {% else %}
            <h3 class="role_title">Зарегистрируйтесь, чтобы получить полноценный доступ к сайту</h3>
            {% endif%}

            <form action="" method="post">
                {% csrf_token %}
                <div class="reg">
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                    {{ form.as_table }}
                    {% endfor %}
                    {% else %}
                    {{ wizard.form }}
                    {% endif %}
                    {% if wizard.form.errors %}
                    <div class="alert alert-danger">
                        {{ wizard.form.non_field_errors.as_text }}
                    </div>
                    {%endif%}
                </div>
                {% if wizard.steps.step1 == 1 %}
                 <div class="div_btn">
                     <input type="submit" value="{% translate 'Зарегистрироваться' %}" class="btn"/></div>
                {% else %}
                 <div class="div_btn">
                     <input type="submit" value="{% translate 'Создать аккаунт' %}" class="btn"/></div>
                {% endif%}
            </form>
            <p>У вас уже есть аккаунт? <a href="{% url 'login_user' %}">Авторизоваться</a></p>
        </div>
    </div>
</div>
{% endblock %}
