{% extends 'base/base.html' %}

{% block content %}
<div class="register_block">
    <div class="container">
        <div class="register">
            <h3>Если у вас есть резюме, вы можете его загрузить</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% for field in wizard.form %}
                <div class="form__field">

                    <label> {{ field.label }}</label>
                    {{ field}}
                </div>
                {% endfor %}
                <div class="div_btn">
                    <input type="submit" value="Дальше" class="btn"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}