{% extends 'base/base.html'%}
{% load mptt_tags %}
{% block content %}

<div class="register_block">
    <div class="container">
        <div class="register_serves">
            <h3>Какие основные услуги вы предлагаете? </h3>
            <h5>Выберите хотя бы одну услугу, которая лучше всего описывает тип вашей работы.</h5>
            <div class="chosen_el"></div>

            <form method="post" class="form_serves">
                {% csrf_token %}
                <div class="serves_nav">
                    <ul class="serves_menu">
                        {% recursetree service %}
                        {% if node.is_leaf_node %}
                        <li class="active">
                            <input type="checkbox" name="service" value="{{node.id}}">
                            {{ node.name }}
                        </li>
                        {% else %}
                        <li>
                            {{ node.name }}
                            <ul class="serves_submenu">
                                {{ children }}
                            </ul>
                        </li>
                        {% endif %}
                        {% endrecursetree %}
                    </ul>
                </div>
                <div class="div_btn">
                    <input type="submit" value="Выбрать" class="btn"></div>
            </form>

        </div>
    </div>
</div>
{% endblock%}