{% extends 'base/base.html' %}

{% block content %}

<form class="partial-submit" method="post" action="{% url 'freelancer_login'%}">
  {% csrf_token %}
  {{ wizard.management_form }}
  <div class="my-form-step">
    {% include wizard.form.current_template %}
  </div>
  <button type="submit" name="{{ wizard.submit_name }}" value="{{ wizard.next_step }}" class="btn btn-primary btn-block">Далее</button>
</form>
{% endblock %}


{% block content %}
<div class="register_block">
    <div class="container">
        <div class="register">
            <h3>Расскажите о своем опыте работы</h3>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Добавить
                место работы
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" enctype="multipart/form-data" class="form partial-submit" action=".">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Моя форма</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            {{ wizard.management_form }}
                            <div class="modal-body">
                                {% for field in wizard.form %}
                                {% if field.label in 'start_month' %}
                                {% if field.label == 'start_month' %}
                                <div class="start_work">
                                    <label>Начало работы</label>
                                    {{ field }}
                                </div>
                                {% else %}
                                <div class="start_work">

                                    {{ field }}
                                </div>
                                {% endif %}
                                {% elif field.label in 'end_month' %}
                                {% if field.label == 'end_month' %}
                                <div class="end_work">
                                    <label>Окончание работы</label>
                                    {{ field }}
                                </div>
                                {% else %}
                                <div class="end_work">
                                    {{ field }}
                                </div>
                                {% endif %}
                                {%else %}
                                <div class="form__field">

                                    <label> {{ field.label }}</label>
                                    {{ field}}
                                </div>
                                {% endif %}

                                {% endfor %}
                            </div>
                            <div class="modal-footer">

                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}