body {
  margin: 0;
  padding: 0;
}

.header {
  /* background: #37a0a0; */
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__left > ul,
.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
}
.header__menu__left {
  list-style: none; /* Для списка убираем маркеры */
  margin: 0; /* Нет отступов вокруг */
  padding: 0; /* Убираем поля вокруг текста */
  font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
  font-size: 10pt; /* Размер названий в пункте меню */
}
.header__menuItem .header__menuUl {
  position: absolute; /* Подменю позиционируются абсолютно */
  display: none; /* Скрываем подменю */

  /* margin-left: 165px; 
  margin-top: -2em; */
}
li a {
  display: block; /* Ссылка как блочный элемент */
  padding: 5px; /* Поля вокруг надписи */
  text-decoration: none; /* Подчеркивание у ссылок убираем */
  color: #0b0b0b;
  font-size: 20px;
  border-bottom: none; /* Границу снизу не проводим */
}

.header__menuItem:hover .header__menuUl {
  display: block; /* При выделении пункта курсором мыши отображается подменю */
}

span {
  border: 1px solid #080808;
}

button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #f15b42;
  cursor: pointer;
}
button:before {
  content: '\f105';
  font-family: FontAwesome;
  color: #f9f0da;
  font-size: 20px;
  font-weight: bold;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* SubNav */
.subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.subnav ul:after {
  content: '';
  display: table;
  clear: both;
}
.subnav a {
  text-decoration: none;
  display: block;
  transition: 0.3s linear;
}
.topmenu > li {
  float: left;
  position: relative;
  /* border-left: 1px solid black; */
}
.topmenu > li:first-child {
  border-left: 0;
}
.topmenu > li > a {
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #080808;
  letter-spacing: 2px;
}
.topmenu > li > a.active,
.submenu a:hover {
  color: #ddbe86;
}
.topmenu .fa,
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  /* border-top: 1px solid #cbcbcc;
  border-left: 1px solid #cbcbcc;
  border-right: 1px solid #cbcbcc; */
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
}
.submenu li {
  position: relative;
}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #cbcbcc;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: 0.3s linear;
}
.subnav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

/* Register_user */
.register__block {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.btn__box {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 250px;
}
.btn__box input {
  display: flex;
  justify-content: flex-end;
}

.register__btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
