body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.header {
  /* background: #37a0a0; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__left > ul,
.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
}
.header__menu__left {
  list-style: none; /* Для списка убираем маркеры */
  margin: 0; /* Нет отступов вокруг */
  padding: 0; /* Убираем поля вокруг текста */
  font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
  font-size: 10pt; /* Размер названий в пункте меню */
}
.header__menuItem .header__menuUl {
  position: absolute; /* Подменю позиционируются абсолютно */
  display: none; /* Скрываем подменю */

  /* margin-left: 165px; 
  margin-top: -2em; */
}
li a {
  display: block; /* Ссылка как блочный элемент */
  padding: 5px; /* Поля вокруг надписи */
  text-decoration: none; /* Подчеркивание у ссылок убираем */
  color: #0b0b0b;
  font-size: 20px;
  border-bottom: none; /* Границу снизу не проводим */
}

.header__menuItem:hover .header__menuUl {
  display: block; /* При выделении пункта курсором мыши отображается подменю */
}

span {
  border: 1px solid #080808;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* SubNav */
.subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.subnav ul:after {
  content: '';
  display: table;
  clear: both;
}
.subnav a {
  text-decoration: none;
  display: block;
  transition: 0.3s linear;
}
.topmenu > li {
  float: left;
  position: relative;
  /* border-left: 1px solid black; */
}
.topmenu > li:first-child {
  border-left: 0;
}
.topmenu > li > a {
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #080808;
  letter-spacing: 2px;
}
.topmenu > li > a.active,
.submenu a:hover {
  color: #ddbe86;
}
.topmenu .fa,
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  /* border-top: 1px solid #cbcbcc;
  border-left: 1px solid #cbcbcc;
  border-right: 1px solid #cbcbcc; */
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
}
.submenu li {
  position: relative;
}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #cbcbcc;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: 0.3s linear;
}
.subnav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
  /* left: 50%; */
}

/* Register_user */
.register__block {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}

.register,
.card {
  padding: 60px;
  border-radius: 25px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.role div:hover {
  display: inline-block;
  cursor: pointer;
}

.role,
.freelance_experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.role div,
.freelance_experience div {
  border: 1px solid gray;
  padding: 35px;
  border-radius: 20px;
}
.role input[type='radio'],
.freelance_experience input[type='radio'] {
  margin-left: 20px;
  float: right;
  margin-top: -15px;
}

.role label,
.freelance_experience label {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.btn_subnav {
  display: block;
  margin: 0 auto;
}

.reg_form {
  padding: 15px;
  width: 315px;
  border-radius: 10px;
}
.form__field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form__field label {
  margin-right: 1rem;
}

.form__field input[type='checkbox'] {
  width: 100%;
}
.form_select {
  padding: 15px;
  border-radius: 10px;
  width: 348px;
}
.reg_menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}

.reg_menu:hover .active_reg {
  display: block;
}
.hidden {
  display: none;
}
.hidden input {
  margin-bottom: 10px;
}

/* Serves_add */
.register_serves h3,
.register_serves h5 {
  text-align: center;
}
.serves_nav {
  background-color: rgb(163, 189, 211);
  border-radius: 7px;
  max-width: 400px;
}

.serves_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.serves_menu li {
  position: relative;
  padding: 5px;
}

.serves_submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 400px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgb(163, 189, 211);
  border-radius: 7px;
}

.serves_menu li:hover > .serves_submenu {
  display: block;
}

.serves_menu li label {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.serves_submenu li label {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.div_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn {
  background-color: rgba(32, 65, 125, 0.235);
  padding: 10px 25px;
  margin: 15px 10px;
  border-radius: 10px;
  display: inline-block;
}
.reg_form_text {
  width: 800px;
  height: 400px;
}
.work {
  width: 200px;
  margin-right: 20px;
}
.start_work,
.rate_form {
  display: inline-block;
}

.end_work {
  display: none;
}
.reg_form_rate {
  margin-left: 73px;
  padding: 15px;
  border-radius: 10px;
  width: 100px;
}
.reg_form_currency {
  padding: 15px;
  border-radius: 10px;
  width: 80px;
}

.chosen_el {
  margin: 15px;
  padding: 15px;
  /* background-color: rgb(163, 189, 211); */
  border-radius: 10px;
  border: 3px solid rgb(163, 189, 211);
}
