body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.header {
  /* background: #37a0a0; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__left > ul,
.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
}
.header__menu__left {
  list-style: none; /* Для списка убираем маркеры */
  margin: 0; /* Нет отступов вокруг */
  padding: 0; /* Убираем поля вокруг текста */
  font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
  font-size: 10pt; /* Размер названий в пункте меню */
}
.header__menuItem .header__menuUl {
  position: absolute; /* Подменю позиционируются абсолютно */
  display: none; /* Скрываем подменю */

  /* margin-left: 165px; 
  margin-top: -2em; */
}
li a {
  display: block; /* Ссылка как блочный элемент */
  padding: 5px; /* Поля вокруг надписи */
  text-decoration: none; /* Подчеркивание у ссылок убираем */
  color: #0b0b0b;
  font-size: 20px;
  border-bottom: none; /* Границу снизу не проводим */
}

.header__menuItem:hover .header__menuUl {
  display: block; /* При выделении пункта курсором мыши отображается подменю */
}

/* span {
  border: 1px solid #080808;
} */

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* SubNav */
.subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.subnav ul:after {
  content: '';
  display: table;
  clear: both;
}
.subnav a {
  text-decoration: none;
  display: block;
  transition: 0.3s linear;
}
.topmenu > li {
  float: left;
  position: relative;
  /* border-left: 1px solid black; */
}
.topmenu > li:first-child {
  border-left: 0;
}
.topmenu > li > a {
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #080808;
  letter-spacing: 2px;
}
.topmenu > li > a.active,
.submenu a:hover {
  color: #ddbe86;
}
.topmenu .fa,
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  /* border-top: 1px solid #cbcbcc;
  border-left: 1px solid #cbcbcc;
  border-right: 1px solid #cbcbcc; */
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
}
.submenu li {
  position: relative;
}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #cbcbcc;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: 0.3s linear;
}
.subnav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
  /* left: 50%; */
}

/* Register_user */
.register__block {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}

.register,
.card {
  padding: 60px;
  border-radius: 25px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.role div:hover {
  display: inline-block;
  cursor: pointer;
}

.role,
.freelance_experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.role div,
.freelance_experience div {
  border: 1px solid gray;
  padding: 35px;
  border-radius: 20px;
}
.role input[type='radio'],
.freelance_experience input[type='radio'] {
  margin-left: 20px;
  float: right;
  margin-top: -15px;
}

.role label,
.freelance_experience label {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.btn_subnav {
  display: block;
  margin: 0 auto;
}

.reg_form {
  padding: 15px;
  width: 315px;
  border-radius: 10px;
}
.form__field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form__field label {
  margin-right: 1rem;
}

.form__field input[type='checkbox'] {
  width: 100%;
}
.form_select {
  padding: 15px;
  border-radius: 10px;
  width: 348px;
}
.reg_menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}

.reg_menu:hover .active_reg {
  display: block;
}
.hidden {
  display: none;
}
.hidden input {
  margin-bottom: 10px;
}

/* Serves_add */
.register_serves h3,
.register_serves h5 {
  text-align: center;
}
.serves_nav {
  background-color: rgb(163, 189, 211);
  border-radius: 7px;
  max-width: 400px;
}

.serves_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.serves_menu li {
  position: relative;
  padding: 5px;
}

.serves_submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 400px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgb(163, 189, 211);
  border-radius: 7px;
}

.serves_menu li:hover > .serves_submenu {
  display: block;
}

.serves_menu li label {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.serves_submenu li label {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.div_btn {
  overflow: auto;
}
.btn {
  background-color: rgba(32, 65, 125, 0.235);
  padding: 10px 25px;
  margin: 15px 10px;
  border-radius: 10px;
  float: right;
}
.reg_form_text {
  width: 800px;
  height: 400px;
}
.work {
  width: 200px;
  margin-right: 20px;
}
.start_work,
.rate_form {
  display: inline-block;
}

.end_work {
  display: none;
}
.reg_form_rate {
  margin-left: 73px;
  padding: 15px;
  border-radius: 10px;
  /* width: 100px; */
}
.reg_form_currency {
  padding: 15px;
  border-radius: 10px;
  width: 80px;
}
.register h3 {
  text-align: center;
  margin-bottom: 20px;
}
.chosen_el {
  border-radius: 20px;
  border: 3px solid rgb(163, 189, 211);
  margin: 10px 0;
  padding: 20px;
}

@media (min-width: 800px) {
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
  }
}
.modal-footer > button {
  display: inline-block;
}

.inline {
  display: flex;
  justify-content: flex-end;
}

/* Profile */
.profile {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px 40px;
}

.profile_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile_photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile__pAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.profile_btn {
  background-color: rgba(32, 65, 125, 0.235);
  padding: 10px 25px;
  margin: 15px 10px;
  border-radius: 10px;
}
.profile_btn a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.profile_about h4 {
  font-size: 20px;
}
.profile_about p {
  font-size: 16px;
}

.profile_base {
  display: flex;
  flex-direction: row;
}
.profile_left {
  flex: 1;
}
.profile_right {
  flex: 3;
}

.btn_service {
  display: flex;
  background-color: rgba(32, 65, 125, 0.235);
  padding: 10px 25px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.btn_service a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.btn_service.active {
  background-color: #d30303;
}
.profile_right {
  padding-left: 20px;
}
.profile_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title_hourlyrate {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skill_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.skill_list p {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: rgba(32, 65, 125, 0.336);
  color: #0b0b0b;
}

/* find_work.html */
.find-work__block {
  border: 1px solid gray;
  border-radius: 20px;
  margin-top: 40px;
  padding: 20px;
}
.find-work__filter ul {
  display: flex;
  flex-direction: row;
  list-style: none; /* Для списка убираем маркеры */
  margin-top: 10px; /* Нет отступов вокруг */
  padding: 0; /* Убираем поля вокруг текста */
  font-size: 16px; /* Размер названий в пункте меню */
  gap: 20px;
}
.find-work__filter a {
  padding: 0;
}
.like-btn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: aliceblue;
  background-image: url('../icons/heart-shape.png');
  background-repeat: no-repeat;
  background-position: center;
}
.like-btn.liked {
  background-image: url('../icons/heart.png');
}
.task_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.task_title h5 {
  font-size: 20px;
}
.tasks__info {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 7px;
}
.find-work__tasks h6 {
  font-size: 18px;
  font-weight: 400;
}

.form__search {
  width: 100%; /* Ширина поля с кнопкой */
  border: 1px solid #000; /* Параметры рамки */
  border-radius: 20px;
  padding: 20px;
  display: flex;
}
.form__search input[type='search'] {
  background-color: aliceblue;
  border: none; /* Убираем рамку */
  outline: none; /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
  width: 95%; /* Ширина поля */
  vertical-align: middle; /* Выравнивание по середине */
}
.form__search input[type='submit'] {
  width: 32px; /* Ширина кнопки */
  height: 32px; /* Высота кнопки */
  border: none; /* Убираем рамку */
  background: url('../icons/magnifying-glass.png') no-repeat 50% 50%; /* Параметры фона */
}

.form__search__navbar {
  border: 1px solid grey; /* Параметры рамки */
  border-radius: 30px;
  padding: 5px;
  display: flex;
}
.form__search__navbar input[type='search'] {
  background-color: aliceblue;
  border: none; /* Убираем рамку */
  outline: none; /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
  width: 95%; /* Ширина поля */
  vertical-align: middle; /* Выравнивание по середине */
}

/* saved_tasks.html */
.save_task__box {
  padding: 30px;
  border: 1px solid gray;
  border-radius: 20px;
}

/* tast.html */

.task__content {
  display: flex;
  flex-direction: row;

  padding: 40px 30px;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 30px 0;
}
.task__info h5 {
  margin-bottom: 20px;
  font-size: 20px;
}

.task__info p {
  margin: 0;
  font-size: 14px;
}

.task__details {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.task__info {
  flex: 3;
}
.task__customer {
  flex: 1;
}
.task__amount,
.task__experience {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.task__amount img,
.task__experience img {
  width: 16px;
  height: 16px;
}
.task__btns {
  display: flex;
  flex-direction: column;
}
.customer_another_tasks {
  padding: 30px 20px;
  border: 1px solid gray;
  border-radius: 20px;
}

.respond-btn,
.liked-btn {
  padding: 10px;
  background-color: rgba(32, 65, 125, 0.575);
  border-radius: 10px;
  width: 300px;
  text-align: center;
  border: none;
  margin-bottom: 15px;
}
.respond-btn.responded,
.liked-btn.like {
  background-color: rgba(32, 65, 125, 0.336);
}

/* find_talent.html */
.find-talent__block {
  padding: 20px;
  margin-top: 25px;
  border: 1px solid grey;
  border-radius: 20px;
}
.talent__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* .profile__serves {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
} */
.profile_photo {
  flex: 1;
}
.profile__info {
  flex: 5;
}
.profile__btns {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.invite {
  width: 250px;
}

/* saved_talents.html */

.talents__block {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
}

/* my_task.html */
.my-tasks__block {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
}
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task__about {
  flex: 3;
}
.task_btns {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.my-tasks__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.btns__my-task,
.btns__my-task-change {
  width: auto;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(32, 65, 125, 0.336);
}
.btns__my-task-change {
  width: 200px;
  text-align: center;
}
.my-tasks a {
  text-decoration: none;
  color: #000;
}
.menu-dots__ul {
  margin-top: 16px;
}
li {
  list-style-type: none;
}
.btn__li,
.modal__btns button {
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 0 0 0 8px;
  font-size: 20px;
}

.btns__box {
  background-color: #c4c4ef;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.btns__box li {
  padding: 0 20px;
}
.btns__box li:hover {
  background-color: rgba(32, 65, 125, 0.336);
}
.modal__my-task {
  padding: 20px;
}
.modal__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.modal__btns a {
  text-decoration: none;
  font-size: 20px;
}

/* all_messages.html */
.messages__ul {
  list-style: none;
  background: lavender;
  padding: 0.5rem 3rem;
  border: 2px solid lavender;
  border-radius: 0.7rem;
}

.msg {
  padding: 0.5rem 0;
}

.msg > a span {
  font-size: 1.45rem;
  font-weight: 500;
}

.msg.msg--unread a span {
  font-weight: 700;
  color: rebeccapurple;
}

.msg:not(:last-child) {
  border-bottom: 2px solid blue;
}

.msg > a {
  display: flex;
  gap: 1rem;
}

.msg__author,
.msg__date {
  flex-basis: 25%;
}

.msg__date {
  text-align: right;
}

/* chat.html */

.msg__sender {
  display: flex;

  justify-content: flex-start;
}

.msg__recipient {
  display: flex;

  justify-content: flex-end;
}
.chat__msg-recipient,
.chat__msg-sender {
  padding: 0.5rem;
  max-width: 80%;
  border: 1px solid lavender;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}
.chat__msg-recipient {
  background-color: rgba(127, 255, 212, 0.336);
}
.chat__msg-sender {
  background-color: lavender;
}

.chat__block {
  max-height: 65vh;
  overflow: auto;
}

.new-msg {
  border: 1px solid grey; /* Параметры рамки */
  border-radius: 30px;
  padding: 15px;
  display: flex;
}
.new-msg input[type='text'] {
  background-color: aliceblue;
  border: none; /* Убираем рамку */
  outline: none; /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
  width: 95%; /* Ширина поля */
  vertical-align: middle; /* Выравнивание по середине */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 30px;
  padding: 30px;
  background-color: white;
  display: none;
  z-index: 1;
}

.popup h5 {
  padding-bottom: 20px;
}
.invite__task {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* leave_review.html */

.rating-area {
  overflow: hidden;
  width: 265px;
  margin: 0 auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}

.feedback__block {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.rating {
  width: 100%;
  margin-top: 20px;
}

/* talent_add */

.talents__talent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.talents__talent p {
  font-size: 20px;
}

.talents__btn {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  font-size: 20px;
  padding: 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.profile__all-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.offers_box {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
}
.offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.offers-btns__modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 30px 30px 30px;
}
.modal-content h3 {
  padding-top: 30px;
  text-align: center;
}

/* my_staff.html */
.worker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
