{% load static %}
<div class="change_talent">
    <ul class="menu-dots__ul">
        <li class="header__menuItem"><img src="{% static 'icons/pencil.png' %}"
                                          alt="">
            <ul class="header__menuUl btns__box">
                <li class="header__menuItem">
                    <a
                        href="{% url action_url_update new_id %}">Изменить</a></li>
                <li class="header__menuItem">
                    <button type="button" class="btn__li"  onclick="delItem('{{ new_id }}')">Удалить
                    </button>
                </li>
            </ul>
        </li>
    </ul>
    <div id="del_item-{{ new_id }}" class="popup">

        <form method="POST" class="form" action="{% url action_url_del new_id %}"
              autocomplete="off">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите
                    удалить
                    {{ title }}</h5>
                <button type="button" class="btn-close" onclick="delClose('{{ new_id }}')"></button>
            </div>
            {% csrf_token %}
            <div class="modal__btns">
                <input type="hidden" name="return_url" value="{{ request.path }}">
                <button type="submit">Да</button>
                <button type="button" class="btn" onclick="delClose('{{ new_id }}')">Нет</button></div>
        </form>
    </div>
</div>
