{% extends 'base/base.html' %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block content %}
{% include 'base/navbar.html' %}

<div class="find-talent">
    <div class="container">
        <div class="find-talent__box">
            <div class="find-talent__search">
                <form action="" method="get" id="search">
                    <div class="form__search">
                        <input type="search" placeholder="Поиск таланта" name="search_query" value="{{ search_query }}"/>
                        <input type="submit" value=""/>
                    </div>
                </form>
            </div>
            <div class="find-talent__block">
                {% for freelancer in freelancers %}
                {% with talent=freelancer.talent_set.first %}
                <div class="talent_box">
                    <div class="find-talent__talent">
                        <div class="talent__title">
                            <div class="profile_photo">
                                <img src="{{ freelancer.owner.photo.url }}" alt="">
                            </div>
                            <div class="profile__info">
                                <p>
                                    <a href="{% url 'profile' freelancer.owner.id %}">{{ freelancer.owner.first_name }}
                                    </a></p>
                                <div class="profile__serves">
                                    {% for serve in freelancer.serves.all %}
                                    <p>{{ serve }}</p>
                                    {% endfor %}
                                </div>
                                {% if freelancer.owner.country and freelancer.owner.city %}
                                <p>{{ freelancer.owner.country}}, {{ freelancer.owner.city }}</p>
                                {% else %}
                                <p>Данных нет</p>
                                {% endif %}
                            </div>
                            <div class="profile__btns">
                                <form action="{% url 'like_talent' freelancer.id %}" method="post" class="my-form">
                                    {% csrf_token %}
                                    {% if request.user.profile.customer in freelancer.customer_saved.all %}
                                    <input type="hidden" name="task_id" value="{{ freelancer.id}}">
                                    <button type="submit" class="like-btn liked"></button>
                                    {% else %}
                                    <input type="hidden" name="task_id" value="{{ freelancer.id}}">
                                    <button type="submit" class="like-btn"></button>
                                    {% endif %}
                                </form>

                                {% if tasks %}
                                <button onclick="showPopup('{{ freelancer.id }}')" class="btn invite">Пригласить на
                                    интервью
                                </button>
                                <div id="popup-{{ freelancer.id }}" class="popup">
                                    <h5 class="modal-title" id="exampleModalLabel">Выберите ваше задание, которое вы
                                        хотите предложить
                                        фрилансеру</h5>
                                    <form action="{% url 'choice_task' %}" method="post">
                                        {% csrf_token %}
                                        {% with hidden_input_name="talent_id" %}
                                        {% with hidden_input_value=freelancer.id %}
                                        {% with radio_button_name="choice_task" %}
                                        {% with close_popup_function="closePopup" %}
                                        {% include 'talents/invite_btn.html' %}
                                        {% endwith %}{% endwith %}{% endwith %}{% endwith %}
                                    </form>

                                </div>
                                {% else %}
                                <p class="btn"><a href="{% url 'my_tasks' %}">У вас нет открытых вакансий</a></p>

                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="talent__description">
                        <div class="talent_amount">
                            <p>{{ talent.hourlyrate_set.first.rate }}
                                {{ talent.hourlyrate_set.first.get_currency_display }}/час</p>
                        </div>
                        <div class="talent__descriptions">
                            <p>{{ freelancer.bio|truncatechars:260 }}</p>
                        </div>
                    </div>
                </div>
                <hr>
                {% endwith %}
                {% endfor %}
                {% include 'base/pagination.html' with queryset=freelancers custom_range=custom_range %}
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/liked_jquery.js' %}"></script>
<script src="{% static 'js/search_pag.js' %}"></script>
{% endblock%}