<button onclick="showPopup('{{ freelancer.id }}')" class="btn invite">Пригласить на интервью</button>
<div id="popup-{{ freelancer.id }}" class="popup">
    <h5 class="modal-title" id="exampleModalLabel">Выберите ваше задание, которое вы хотите предложить
        фрилансеру</h5>
    <form action="{% url 'choice_task' %}" method="post">
        {% csrf_token %}
        {% for task in tasks %}
        <div class="invite__task">
        <label>
            <input type="hidden" name="return_url" value="{{ request.path }}">
            <input type="hidden" name="talent_id" value="{{talent.id}}">
            <input type="radio" name="choice_task" value="{{ task.id }}">
            {{ task.title }}
        </label></div>
        {% endfor %}
        <button onclick="closePopup('{{ freelancer.id }}')" class="btn">Закрыть окно</button>
        <button type="submit" class="btn">Выбрать</button>
    </form>

</div>