{% extends 'base/base.html' %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block content %}
<div class="save_talents">
    <div class="container">
        <div class="save_talents__box">
            <h5>Сохраненные таланты ({{ talents.count }})</h5>
            <hr>
            <div class="talents__block">
                {% if talents %}
                <div class="save_talents__block">
                    {% for talent in talents %}
                    <div class="talent_box">
                        <div class="find-talent__talent">
                            <div class="talent__title">
                                <div class="profile_photo">
                                    <img src="{{ talent.owner.photo.url }}" alt="">

                                </div>
                                <div class="profile__info">
                                    <p>
                                        <a href="{% url 'profile' talent.id %}">
                                            {{ talent.owner.first_name }}
                                        </a>{{ talent.id }}</p>

                                    <p>{{ talent.owner.country}}, {{ talent.owner.city }}</p>
                                </div>
                                <div class="profile__btns">
                                    <form action="{% url 'like_talent' talent.id %}" method="post" class="my-form">
                                        {% csrf_token %}
                                        {% if request.user.profile.customer in talent.customer_saved.all %}
                                        <input type="hidden" name="task_id" value="{{ talent.id }}">
                                        <button type="submit" class="like-btn liked"></button>
                                        {% else %}
                                        <input type="hidden" name="task_id" value="{{ talent.id }}">
                                        <button type="submit" class="like-btn"></button>
                                        {% endif %}
                                    </form>

                                    {% if request.user.profile.customer in talent.customer_invited.all %}
                                    <p class="respond-btn responded invite">Вы уже пригласили</p>
                                    {% else %}
                                    <button onclick="showPopup('{{ freelancer.id }}')" class="btn invite">Пригласить на
                                        интервью
                                    </button>
                                    <div id="popup-{{ freelancer.id }}" class="popup">
                                        <p>{{ freelancer.id }}</p>
                                        <h5 class="modal-title" id="exampleModalLabel">Выберите ваше задание, которое вы
                                            хотите предложить
                                            фрилансеру</h5>
                                        <form action="{% url 'choice_task' %}" method="post">
                                            {% csrf_token %}
                                            {% with hidden_input_name="talent_id" %}
                                            {% with hidden_input_value=freelancer.id %}
                                            {% with radio_button_name="choice_task" %}
                                            {% with close_popup_function="closePopup" %}
                                            {% include 'talents/invite_btn.html' %}
                                            {% endwith %}{% endwith %}{% endwith %}{% endwith %}
                                        </form>

                                    </div>

                                    {% endif %}
                                </div>

                            </div>
                            <div class="talent__description">
                                <div class="talent_amount">
                                    <p>{{ talent.talent_set.first.hourlyrate_set.first.rate }}
                                        {{ talent.talent_set.first.hourlyrate_set.first.get_currency_display }}
                                        /час</p>
                                </div>
                                <div class="talent__descriptions">
                                    <p>{{ talent.owner.bio|truncatechars:260 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% else %}
                    <h1>Тут будет список талантов которые вам понравились</h1>
                    <h3>Следите за интересующими вас талантами</h3>
                    <h4>Нажимайте на значок сердца в объявлении о таланте, чтобы сохранить его на потом.</h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/liked_jquery.js' %}"></script>
{% endblock%}