{% extends 'base/base.html' %}

{% block content %}
<div class="register_block">
    <div class="container">
        <div class="register">
            <h3>Здесь вы можете создать один или несколько ваших выдающихся специализации, в направлении которых вы
                хотите получать задачи</h3>
            <div class="talents">
                {% for talent in talents %}
                <div class="talents__talent">
                    <p>{{talent}}</p>
                    {% with action_url_del='talent_delete' %}
                    {% with new_id=talent.id %}
                    {% with title=talent.title %}
                    {% with action_url_update='talent_update' %}
                    {% include 'talents/change-del_talent.html' %}
                    {% endwith%}{% endwith%}{% endwith%}{% endwith%}

                </div>
                {% endfor %}
            </div>

            {% include 'talents/talent_add_modal.html' %}
            <div class="div_btn">
                <a href="{% url 'profile_update' %}" class="btn">Дальше</a></div>
        </div>
    </div>
</div>
{% endblock %}


