{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="register_block">
    <div class="container">
        <div class="register">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in talent_form %}
                {% if field.label == 'Навыки'%}
                <div class="form__field">
                    <label>{{ field.label }} </label>
<!--                                        {{field}}-->
                    <input type="text" name="new_skills"
                           value="{{ skills|join:', ' }}"
                           class="reg_form">
                </div>
                {% elif field.label == 'Почасовая ставка' %}
                <div class="rate_form">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                {% elif field.label == 'Валюта' %}
                <div class="rate_form">
                    {{ field }}
                </div>
                {% else %}
                <div class="form__field">
                    <label>{{ field.label }} </label>
                    {{field}}
                </div>
                {% endif %}
                {% endfor %}
                {% for field in rate_form %}

                {% if field.label == 'Почасовая ставка' %}
                <div class="rate_form">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                {% elif field.label == 'Валюта' %}
                <div class="rate_form">
                    {{ field }}
                </div>

                {% endif %}
                {% endfor %}

                <div class="div_btn">
                    <input type="submit" value="Внести изменения" class="btn"></div>
            </form>


        </div>
    </div>
</div>

{% endblock %}