{% extends 'base/base.html' %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block content %}
{% include 'base/navbar.html'%}
<div class="find-work">
    <div class="container">
        <div class="find-work__box">
            <div class="find-work__search">
                <form action="{% url 'find_work' %}" method="get" id="search">
                    <div class="form__search">
                        <input type="search" placeholder="Поиск работы" name="search_query" value="{{search_query}}"/>
                        <input type="submit" value=""/>
                    </div>
                </form>
            </div>

            <div class="find-work__block">
                <h4>Вакансии, которые могут вам понравиться</h4>
                <div class="find-work__filter">
                    <ul>
                        <li><a href="{% url 'find_work' %}">Все вакансии</a></li>
                        <li><a href="?save=True">Сохраненное</a></li>
                    </ul>
                    <hr/>
                </div>
                {% include 'tasks/like_task.html' %}
                {% include 'base/pagination.html' with queryset=tasks custom_range=custom_range %}
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/liked_jquery.js' %}"></script>
<script src="{% static 'js/search_pag.js' %}"></script>
{% endblock %}