{% extends 'base/base.html' %} {% load static %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block content %}
{% include 'base/navbar.html'%}
<div class="find-work">
    <div class="container">
        <div class="find-work__box">
            <div class="find-work__search">
                <form action="" method="get">
                    <div class="form__search">
                        <input type="search" placeholder="Поиск работы"  name="search_query"  value="{{search_query}}"/>
                        <input type="submit" value=""/>
                    </div>
                </form>
            </div>
        </div>
        <div class="find-work__block">
            <h4>Вакансии, которые могут вам понравиться</h4>
            <div class="find-work__filter">
                <ul>
                    <li><a href="{% url 'find_work' %}">Все вакансии</a></li>
                    <li><a href="?save=True">Сохраненное</a></li>
                </ul>
                <hr/>
            </div>
            <div class="find-work__results">
                {% for task in tasks %}
                <div class="find-work__tasks">
                    <div class="task_title">
                        <h5><a href="{% url 'task' task.id %}">{{ task.title }}</a> </h5>
                        <form action="{% url 'find_work' %}" method="post" class="my-form">
                            {% csrf_token %}
                            {% if request.user.profile.freelancer in task.freelancer_saved.all %}
                             <input type="hidden" name="task_id" value="{{task.id}}">
                            <button type="submit" class="like-btn liked"></button>
                            {% else %}
                               <input type="hidden" name="task_id" value="{{task.id}}">
                            <button type="submit" class="like-btn"></button>
                            {% endif %}
                        </form>
                    </div>
                    <div class="tasks__info">
                        <p>{{ task.budget_set.first.get_name_display }}</p>
                        {% if task.budget_set.first.name == 'hourly_rate' %}
                        <p>
                            : {{ task.budget_set.first.min_price }}-{{ task.budget_set.first.max_price }}{{ task.budget_set.first.get_currency_display }}
                        </p>
                        {% elif task.budget_set.first.name == 'fix' %}
                        <p>
                            Бюджет: {{ task.budget_set.first.get_currency_display }} {{ task.budget_set.first.fix_price}}
                        </p>
                        {% endif %}
                        <p> {{ task.get_experiences_display }}</p>
                        <p>Время: {{ task.get_amount_of_work_display }}</p>
                        <p>Опубликовано: {{ task.time_updated }}</p>
                    </div>
                    <h6>{{ task.description }}</h6>
                    <div class="skill_list">
                        {% for skill in task.skills.all %}
                        <p>{{ skill }}</p>
                        {% endfor %}
                    </div>
                </div>
                <hr/>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/liked_jquery.js' %}">

</script>
{% endblock %}