{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% include 'base/navbar.html'%}
<div class="my-tasks">
    <div class="container">
        <div class="my-tasks__box">
            <div class="my-tasks__title">
                <h3>Пубикации о вакансиях</h3>
                <p class="btns__my-task"><a href="{% url 'task_add' %}">Опубликовать новую вакансию</a></p></div>
            <div class="my-tasks__block">
                {% if tasks %}
                {% for task in tasks %}
                <div class="task">
                    <div class="task__about">
                        <h5>{{ task.title }}</h5>
                        <p>Создано {{ task.time_created }}</p>
                        {% if task.is_published %}
                        <p>Сохранено {{ task.time_updated }}</p>
                        {% else %}
                        <p>Черновик - Сохранено {{ task.time_updated }}</p>
                        {% endif %}
                    </div>
                    <div class="task_btns">
                        {% if not task.is_published %}
                        <p class="btns__my-task-change"><a href="{% url 'update_task' task.id %}">Изменить черновик</a>
                        </p>
                        {% else %}
                        <p class="btns__my-task-change"><a href="{% url 'update_task' task.id %}">Изменить</a></p>
                        {% endif %}
                        {% with action_url_del='delete_task' %}
                        {% with new_id=task.id %}
                        {% with title=task.title %}
                        {% with action_url_update='update_task' %}
                        {% with action_url_path='my_tasks' %}
                        {% include 'talents/change-del_talent.html' %}
                        {% endwith%}{% endwith%}{% endwith%}{% endwith%}{% endwith%}
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal__my-task">

                                <form method="POST" class="form" action="{% url 'delete_task' task.id %}"
                                      autocomplete="off">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить
                                            {{ task.title }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    {% csrf_token %}
                                    <div class="modal__btns">
                                        <button type="submit">Да</button>
                                        <a href="{% url 'my_tasks' %}">Нет</a></div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                <h4>Тут будут располагаться ваши вакансии</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}