{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navbar.html'%}
<div class="offers">
    <div class="container">
        <div class="offers_box">
            {% if offers %}
            {% for offer in offers %}
            <div class="offer">
                <div class="offer__title">
                    <h3><a href="{% url 'task' offer.task.id %}">{{ offer }}</a></h3>
                    <p>Отправлено: {{ offer.request_date }}</p>
                </div>
                <div class="offer__btns">
                    <p class="btn"><a href="{% url 'chat' offer.task.owner.owner.id %}">Связаться с клиентом</a></p>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
                        Ответить на оффер
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <form action="{% url 'accept_offer' offer.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="accept" value="true">Принять</button>
                                    <button type="submit" name="accept" value="false">Отклонить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <h4>Упс, пока здесь пусто! Но как только вам предложат оффер, он здесь отобразится</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}