{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% include 'base/navbar.html'%}
<div class="offers">
    <div class="container">
        <div class="offers_box">
            {% if tasks %}
            {% for task in tasks %}
            {% if task.is_published %}
            {% if task.freelancer_responded.all %}
            <div class="responses">
                <h4>На вакансию <span>"{{ task }}"</span> откликнулись</h4>
                {% for freelancer in task.freelancer_responded.all %}
                <div class="response">
                    <div class="offer__title">
                        <h5>
                            {{ freelancer.owner.first_name }}
                            {{ freelancer.owner.last_name }}</h5>
                        <p>{{ freelancer.serves.all|join:', ' }}</p>
                    </div>
                    <div class="response__btns">
                        {% if freelancer in task.freelancer_refused.all %}
                        <p class="rejection">Отказался от найма </p>
                        {% else %}
                        <p class="btn"><a href="{% url 'chat' freelancer.owner.id %}">Связаться</a></p>
                        {% endif %}
                        <p class="btn"><a href="{% url 'profile' freelancer.owner.id %}">Посмотреть профиль</a></p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                 <h4>На вакансию <span>"{{ task }}"</span> вы пригласили</h4>
                {% for offer in offers %}
                {% with freelancer=offer.prospective_employee %}
                <div class="response">
                    <div class="offer__title">
                        <h5>
                            {{ freelancer.owner.first_name }}
                            {{ freelancer.owner.last_name }}</h5>
                        <p>{{ freelancer.serves.all|join:', ' }}</p>
                    </div>
                    <div class="response__btns">
                        {% if freelancer in task.freelancer_refused.all %}
                        <p class="rejection">Отказался от найма </p>
                        {% else %}
                        <p class="btn"><a href="{% url 'chat' freelancer.owner.id %}">Связаться</a></p>
                        {% endif %}
                        <p class="btn"><a href="{% url 'profile' freelancer.owner.id %}">Посмотреть профиль</a></p>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
            {% else %}
            <h4>На вакансию {{ task }} пока никто не откликнулся</h4>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% else %}
            <h4>Упс, пока здесь пусто! Но как только на вашу задачу кто-то откликнется, он(-а) здесь отобразится</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}