{% extends 'base/base.html'%}
{% load static %}
{% load my_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block content %}
{% include 'base/navbar.html'%}

<div class="task">
    <div class="container">
        <div class="task__block">

            <h4>Детали работы</h4>
            <div class="task__content">
                <div class="task__info">
                    <h5>{{ task.title }}</h5>
                    <p>Опубликовано {{ task.time_updated }}</p>
                    <hr>
                    <p> {{ task.description }} </p>
                    <hr>
                    <div class="task__details">
                        <div class="task__amount">
                            <img src="{% static 'icons/get-money.png' %}" alt="">
                            <div class="task__amount-text">
                                <p>{{ task.get_amount_of_work_display }}</p>
                                <p>{{ task.budget_set.first.get_name_display }}</p></div>
                        </div>
                        <div class="task__experience">
                            <img src="{% static 'icons/experience.png' %}" alt="">
                            <div class="task__experience-text">
                                <p>{{ task.get_experiences_display }}</p></div>
                        </div>
                    </div>
                    <hr>
                    <h6>Навыки и опыт</h6>
                    <div class="skill_list">
                        {% for skill in task.skills.all %}
                        <p>{{ skill }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="task__customer">
                    <div class="task__btns">
                        <form action="{% url 'task' task.id %}" method="post">
                            {% csrf_token %}
                            {% if request.user.profile.freelancer in task.freelancer_responded.all %}

                            <p class="respond-btn responded">Вы откликнулись</p>
                            {% else %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button type="submit" class="respond-btn ">Откликнуться</button>
                            {% endif %}
                        </form>
                        <form action="{% url 'like_task' %}" method="post" class="my-form">
                            {% csrf_token %}
                            {% if request.user.profile.freelancer in task.freelancer_saved.all %}
                            <input type="hidden" name="task_id" value="{{task.id}}">
                            <button type="submit" class="liked-btn like">Сохранено</button>
                            {% else %}
                            <input type="hidden" name="task_id" value="{{task.id}}">
                            <button type="submit" class="liked-btn">Сохранить</button>
                            {% endif %}
                        </form>
                    </div>
                    <hr>
                    <div class="customer__info">
                        <h5>О клиенте</h5>
                        <div class="customer__scores">
                            {% if feedbacks %}
                            <h5>Оценка ({{ feedbacks|average_rating}} из {{ feedbacks.count }} отзывов) </h5>
                            {% else %}
                            <p>Здесь будут звезды оценок</p>
                            {% endif %}
                        </div>
                        <hr>
                        <p>{{ customer.owner.country }}, {{ customer.owner.city }} </p>
                    </div>
                </div>
            </div>
            <div class="customer_another_tasks">
                <h4>
                    Другие открытые вакансии этого заказчика ({{ tasks.count }})
                </h4>
                {% for job in tasks %}
                <p><a href="{% url 'task' job.id %}">{{ job.title }}</a> {{ job.budget_set.first.get_name_display }}</p>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/liked_jquery.js' %}">

</script>
{% endblock %}
