{% extends 'base/base.html' %}
{% block content %}

<div class="register_block">
    <div class="container">
        <div class="register">
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form_task %}
                {% if field.label == 'Навыки'%}
                <div class="form__field">
                    <label>{{ field.label }} </label>
                    {{field}}

                </div>
                {% else %}
                <div class="form__field">
                    <label>{{ field.label }} </label>
                    {{field}}
                </div>
                {% endif %}
                {% endfor %}
                {% for field in form_budget %}
                  {% if field.label == 'Какой будет бюджет' %}
                <div class="form__field">
                    <label> {{ field.label }}</label>
                    {{ field }}
                </div>
                {% else %}
                <div class="hidden" id="hourly_rate">
                    {% if field.label == 'От' or field.label == 'До' %}
                    <label> {{ field.label }}</label>
                    {{ field }}
                    <select name="select_{{ field.name }}" class="reg_form_currency" id="id-{{field.name}}">
                        <option value="ruble" selected="">₽</option>
                        <option value="dollar">$</option>
                        <option value="euro">€</option>

                    </select>
                    {%endif%}
                </div>
                <div class="hidden" id="fix">
                    {% if field.label == 'Максимальный бюджет проекта' %}
                    <label> {{ field.label }}</label>
                    {{ field }}
                    <select name="select_{{ field.name }}" class="reg_form_currency" id="id-{{field.name}}">
                        <option value="ruble" selected="">₽</option>
                        <option value="dollar">$</option>
                        <option value="euro">€</option>

                    </select>
                    {%endif%}
                </div>
                {% endif %}
                {% endfor%}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Сохранить изменения"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
